.app {
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
}

button {
     padding: 8px 12px;
     background-color: rgb(25, 25, 163);
     color: white;
     border-radius: 6px;
     border: 0;
}

span {
     padding: 8px 12px;
     background-color: rgb(78, 76, 76);
     border-radius: 6px;
     color: white;
}