.app {
     height: 90vh;
     text-align: center;
}

button {
     padding: 8px 12px;
     background-color: rgb(25, 25, 163);
     color: white;
     border-radius: 6px;
     border: 0;
}

span {
     padding: 8px 12px;
     background-color: rgb(78, 76, 76);
     border-radius: 6px;
     color: white;
     position: fixed;
     bottom: 10px;
     left: 50%;
     transform: translate(-50%);
}